#bg-img {
    background: linear-gradient(rgb(253, 192, 179), rgb(255, 195, 160));
    height: 100%;
    width: 100%;
    left: 0;
    position: fixed;
    background-size: cover;
}

.header-content > h1 {
    color: #fff;
    font-weight: 200;
    font-size: 40px;
    margin: 8vh 0vw;
}

.header-content > h1 > span {
    color: #FF5252;
}

.card {
    width: 60vw;
    border: 1px solid #ebebeb;
    margin: 7vh auto;
    margin-bottom: 21%;
    padding: 5vh 0vw;
}
.card h1 {
    color: #606060;
}
.card input {
    display: block;
    margin-bottom: 20px;
    padding: 5px;
    width: 50vw;
}
