#bg-img {
    background: linear-gradient(rgba(255, 255, 255, 0.5), white), url("/img/bg-landing.jpg") center no-repeat;
    height: 100%;
    width: 100%;
    left: 0;
    position: fixed;
    background-size: cover;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.header-content > h1 {
    color: #656565;
    font-weight: 200;
    font-size: 40px;
    margin: 10vh 0vw 8vh 0vw;
}

.header-content > h1 > span {
    color: #FF5252;
}

.card {
    width: 60vw;
    height: 35vh;
    border: 1px solid #ebebeb;
    margin: 7vh auto;
}
.card h1 {
    color: #606060;
}
.card input {
    display: block;
    margin-bottom: 20px;
    padding: 5px;
    width: 50vw;
}
