#bg-img {
    background: linear-gradient(rgb(255, 175, 189), rgb(255, 195, 160));
    height: 100%;
    width: 100%;
    left: 0;
    position: fixed;
    background-size: cover;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.header-content > h1 {
    color: #fff;
    font-weight: 200;
    font-size: 40px;
    margin: 10vh 0vw 8vh 0vw;
}

.header-content > h1 > span {
    color: #FF5252;
}

.card {
    width: 60vw;
    border: 1px solid #ebebeb;
    margin: 7vh auto;
}
.card h1 {
    color: #606060;
}
.card input {
    display: block;
    margin-bottom: 20px;
    padding: 5px;
    width: 50vw;
}
